// Reusable classes

// Flex
.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.space-around {
  justify-content: space-around;
}

.justify-contents-center {
  justify-content: flex-end;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-start {
  align-items: flex-start;
}

// Margins
.mt10 {
  margin-top: 1rem;
}

.mt20 {
  margin-top: 2rem;
}

.mr10 {
  margin-right: 1rem;
}

.mb10 {
  margin-bottom: 1rem;
}

.mb20 {
  margin-bottom: 2rem;
}

.mb30 {
  margin-bottom: 3rem;
}

.heading1 {
  font-weight: bold;
  font-size: 4rem;
  line-height: 2.4rem;
}

.heading2 {
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.8rem;
  letter-spacing: 0.2px;
}

.heading3 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.8rem;
  color: var(--black);
}

.paragraph1 {
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 3.5rem;
}

.paragraph2 {
  font-weight: normal;
  font-size: 2rem;
  line-height: 1.4rem;
  text-align: center;
  letter-spacing: 0.2px;
  color: var(--black);
}

.paragraph3 {
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.4rem;
  letter-spacing: 0.2px;
  color: var(--black);
}

.center {
  text-align: center;
}

.container {
  max-width: 125rem;
  margin: 0 auto;
}
