// Global CSS rules

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media (max-width: 480px) {
    font-size: 55%;
  }
}

body {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  color: var(--black);
  font-size: 1.6rem;
  line-height: 1.6;
}
