// Variables
:root {
  --app-color: #ed165f;
  --beige: #f3ecdb;
  --orange: #f07b4e;
  --purple: #f07b4e;
  --white: #ffffff;
  --blue: #465ba3;
  --green: #41854d;
  --gold: #f3b121;
  --pink: #f2a1b1;
  --black: #000000;
  --brown: #665147;
  --taupe: #cac1b8;
  --red: #d23c47;
  --light-grey1: #f5f5f5;
  --light-grey2: #c4c4c4;
  --dark-grey1: ##686868;
}
