.AppCard {
  background-color: var(--white);
  cursor: pointer;

  &:hover {
    box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: 0.1);
  }

  &:hover &__cta {
    opacity: 1;
  }

  &:hover &__image-wrapper:after {
    opacity: 1;
  }

  &__image-wrapper {
    position: relative;
  }

  &__image {
    transition: 0.5s ease;
    backface-visibility: hidden;
    opacity: 1;
  }

  &__image-wrapper::after {
    content: "\A";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 0.5s;
  }

  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: 0.5 ease;
    z-index: 100;

    .icon {
      height: 4rem;
      margin-bottom: 1.5rem;
      cursor: pointer;
    }
  }

  &__button {
    background-color: var(--white);
    padding: 1rem 2rem;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.2px;
  }
}
