.Hero {
  height: 90vh;

  &__inner {
    position: relative;
  }

  &__explore {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.4rem;
    color: var(--white);
  }

  &__explore-icon {
    height: 3rem;
  }
}

.Intro {
  padding: 5rem 0;
  &__line {
    height: 1px;
    width: 30%;
    background-color: var(--black);
  }

  &__text {
    max-width: 110rem;
    margin: 0 auto;
  }
}
